body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}
.container{
    width: 900px;
    margin: 16px auto 16px auto;
}
article img{
    width: 100%;
    height: auto;
}